{%- doc -%}
  Renders a carousel of predictive search results cards

  @param {string} ref - The ref of the slideshow
  @param {object} slides - An array of HTML for the slides to display in the carousel
  @param {number} slide_count - The number of slides to display in the carousel
  @param {object} settings - The block or sections settings from the parent block/section.
  @param {string} [slide_width_max] - The maximum width of the slides in the carousel.

  @example
  {% render 'resource-list-carousel', slides: slides, slide_count: slide_count, settings: block.settings %}
{%- enddoc -%}

{% liquid
  assign slideshow_ref = ref | default: 'resourceListCarousel'

  assign slideshow_gutters = null
  assign gutter_style = '--gutter-slide-width: 0px;'

  assign show_arrows = false
  if settings.icons_style != 'none'
    assign show_arrows = true
  endif

  assign column_count = settings.columns | default: 3
  assign columns_gap = settings.columns_gap | default: 16
  assign carousel_vars = '--peek-next-slide-size: 0px; --column-count: '
  assign carousel_vars = carousel_vars | append: column_count | append: '; --resource-list-column-gap-desktop: '
  assign carousel_vars = carousel_vars | append: columns_gap | append: 'px; --resource-list-column-gap: '
  assign carousel_vars = carousel_vars | append: columns_gap | append: 'px;'
%}

{% capture slides %}
  {% for item in slides limit: slides.size %}
    {% render 'slideshow-slide'
      index : forloop.index0,
      children : item,
      class : 'resource-list__slide'
    %}
  {% endfor %}
{% endcapture %}

<div
  class="resource-list__carousel resource-list__carousel--no-peek"
  style="{{ gutter_style }} {{ carousel_vars }} --slide-width-max: {{ slide_width_max | default: '100%' }};"
>
  {% render 'slideshow',
    ref: slideshow_ref,
    class: 'resource-list__carousel',
    slides: slides,
    show_arrows: show_arrows,
    icon_style: settings.icons_style,
    icon_shape: settings.icons_shape,
    auto_hide_controls: false,
    infinite: true,
    initial_slide: 0,
    slide_count: slide_count,
    slideshow_gutters: slideshow_gutters
  %}
</div>
