{% schema %}
{
  "name": "Variant family (Product)",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Variant family",
      "category": "Product"
    }
  ]
}
{% endschema %}

<div class="section section--variant-family">
  {% render 'variant-family' %}
</div>
